.Dropdown-root {
  width: 100%;

  .Dropdown-control {
    border-radius: 12px;
    border: none;
    background-color: #f2f2f7;
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
  }

  .Dropdown-placeholder {
    color: #aeaeb2;
  }

  .is-selected {
    color: #000;
  }

  .Dropdown-menu {
    font-family: "Pretendard";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    border-radius: 12px;
    margin-top: 0;
    border: 1px solid #c7c7cc;
  }
}
