.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headBox {
  display: flex;
  width: 100%;
  position: relative;
  top: 40px;
  padding: 0px 40px 0px 40px;
}

.loginBox {
  display: flex;
  position: absolute;
  right: 47px;
}

.title {
  color: #242957;
  font-size: 48px;
  margin-top: 125px;
}

.buttons {
  width: fit-content;
  height: 44px;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-size: 20px;

}

.buttons:hover {
  cursor: pointer;
}
.loginButton {
  border: 1px solid #384084;
  color: #000;
  margin-right: 20px;
  background-color: #fff;
}

.signupButton {
  background-color: #384084;
  border: 1px solid #fff;
  color: white;
}

.voteBox {
  margin-top: 82px;
  display: flex;
  width: 948px;
  justify-content: space-between;
}

.voteButton {
  width: 394px;
  height: 406px;
  display: flex;
  border-radius: 20px;
  border: 3px solid #384084;
  background: #fff;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #242957;
  font-weight: 600;
  line-height: 166%;
  margin-bottom: 32px;
}

.voteButton:hover {
  background-color: #384084;
  color: #fff;
}

.resultButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 291px;
  height: 82px;
  border-radius: 20px;
  border: none;
  background-color: rgba(56, 64, 132, 0.5);

  color: #fffdfd;
  font-size: 30px;
}

.resultButton:hover {
  background-color: #384084;
}

.partBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamBox {
  margin-top: 143px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.voteButton2 {
  width: 291px;
  height: 82px;
  border-radius: 20px;
  border: 3px solid #384084;
  background: #384084;
  margin-bottom: 42px;

  color: #fffdfd;
  font-size: 30px;
}
